* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

html.body {
  width: 100%;
  height: 100%;
}
.toast {
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0.4rem 1rem;
  align-items: center;
  border-radius: 0.4rem;
  background: #7700ff57;
  top: 1rem;
  right: 2rem;
  border: 1px solid #7700ffbb;
  transform: translateX(500px);
  transition: 0.3s ease;
  #toast_name {
    color: #131313;
    font-weight: 900;
    font-size: 0.8rem;
  }
  #product_name {
    color: rgb(15, 2, 41);
    font-weight: 700;
  }
}
main {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 20px #00000091);
  overflow: hidden;
}

.img_info_div {
  border: 2px solid white;
  display: grid;
  grid-template-columns: 5rem 20rem 25rem;
  grid-template-rows: auto;
  padding: 1rem;
}

.vertical_multiview {
  width: 100%;
  height: 100%;
  & div {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 3px;
    }
  }
  div:hover img {
    transform: scale(1.2);
    transition: transform 0.2s ease;
  }
}

/* image div */

.product_div {
  width: 100%;
  height: 100%;

  & div {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    overflow: hidden;
    margin-bottom: 10px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 11px;
    }
  }
}

/* info div */
.info_div {
  width: 100%;
  height: 100%;
  padding: 0px 1rem;

  & .product_details {
    width: 100%;
    margin-bottom: 1rem;

    & h4 {
      color: #940d0d;
      font-weight: 600;
    }

    & h5 {
      color: #242424d8;
      font-weight: 300;
    }
  }
  & .product_amount_details {
    width: 100%;
    margin-bottom: 3rem;
    & h3 {
      font-weight: 800;
    }
    & h6 {
      color: #242424d8;
    }
  }
}

/* size details */
.size_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & .horizontal_size_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h4 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      gap: 0.2rem;
    }
  }

  .size_card {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, auto);
    margin-bottom: 1rem;

    & div {
      width: 85px;
      height: 40px;
      border: solid #00000094;
      border-width: 0.5px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
.size_card :last-child {
  background: #bbbbbb;
  color: #494949;
  text-decoration: line-through;
  text-decoration-color: #494949;
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

/* button div */

.button_div {
  width: 100%;

  & button {
    width: 100%;
    height: 4rem;
    padding: 0.4rem 2rem;
    color: white;
    font-weight: 800;
    background: #333;
    cursor: pointer;
    border-radius: 2rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
  }
  & button:hover {
    background: #131313;
    transition: 0.2s all ease-in-out;
  }
}

.size_card div.activeCard {
  background-color: #7700ffbb;
  /* other styles */
}
