* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}

main {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  background: #2a2a2a;
  width: 100%;
  height: 100%;
  align-items: center;
}

.image_container_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* background: green; */
  width: 100%;
  height: 100%;
  .showing_image {
    width: 700px;
    height: 400px;
    transition: 0.3s ease;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 0.3s ease;
    }
  }

  /* Button Style */
  #leftBtn,
  #rightBtn {
    width: 100px;
    padding: 0.4rem 0.8rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: #101010;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 0.5rem;
  }
  #leftBtn:hover,
  #rightBtn:hover {
    background: #303030;
  }
}

.carousel_div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem;
  scroll-behavior: smooth;
  transition: 0.3s ease;
  .showing_image {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    transition: 0.3s ease;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 0.3s ease;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}


.dot{
    width:20px;
    height:20px;
    background:white;
    border-radius:50%;
}